.dockerignore
**/.git

build
dist
*.egg-info
*.egg/
*.pyc
*.swp
**/__pycache__

**/.DS_Store
**/.vscode

figures/complete_figures
figures/interim_figures/*
figures/supplementary_figures/*
supplementary_files
data/iModulonDB/*
